.hide-title {
    display:none;
}

a.icn-back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #27AE61 url("http://html-tuts.com/demo/back-to-top/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

#icn-nav ul.fixed {
    position: fixed;
    top: 0px;
}